# Ignore user-specific and temp data
*.log
*.tmp
*.bak
*.swp
*.cache
.DS_Store
Thumbs.db

# Ignore Stencyl-generated build output
export/
previews/
games-generated/
games-generated-temp/
workspace/

# Ignore any system-specific files
.idea/
.vscode/
*.iml

# Ignore backup/old versions
-old/
backup/
*.old

# weird pergenerated joyticks
inner-joystick.png
inner-joystick@1.5x.png
inner-joystick@2x.png
inner-joystick@4x.png
ipad-splash-sb.png
iphone-splash-sb.png
master-icon.png
outer-joystick.png
outer-joystick@1.5x.png
outer-joystick@2x.png
outer-joystick@4x.png
